{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <p class="post-meta">
            <time datetime="{{ .Date }}" itemprop="datePublished">
                {{ .Date | time.Format ":date_full" }}
            </time>- {{ .ReadingTime }} min de lecture -  
            {{ range $key, $value := .Params.tags }}
                <a class="tag_list_link" href="/tags/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub (len $.Params.tags) 1) }}, {{ else }}{{ end }}
            {{ end }}
        </p>
    </header>
    <div class="post-content" itemprop="articleBody">
        <p class="attention-grabber">{{ .Params.Description }}</p>
        {{ .Content }}
    </div>
</article>
<section class="related-posts">
    <h1 class="section-title">Related posts</h1>
    <ul>
        <li>
            <a href="/personal-notes/2021/04/08/my-favourite-books-of-2020/">My favourite books of
                2020</a>
            <span class="light-font"> — 08 Apr 2021</span>
        </li>
        <li>
            <a href="/personal-notes/2020/01/18/my-favourite-books-of-2019/">My favourite books of
                2019</a>
            <span class="light-font"> — 18 Jan 2020</span>
        </li>
        <li>
            <a href="/personal-notes/2019/10/16/would-you-do-your-job-for-free/">Would you do your
                job for free?</a>
            <span class="light-font"> — 16 Oct 2019</span>
        </li>
        <li>
            <a href="/personal-notes/2019/01/18/my-favourite-books-of-2018/">My favourite books of
                2018</a>
            <span class="light-font"> — 18 Jan 2019</span>
        </li>
        <li>
            <a href="/articles/2018/10/25/2-questions-we-ask-designers-and-why/">2 questions we ask
                designers in job interviews</a>
            <span class="light-font"> — 25 Oct 2018</span>
        </li>
    </ul>
</section>
{{ end }}
