<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ if .Params.marmelab }}
<link rel="canonical" href="{{ .Params.marmelab }}">
{{ else }}
<link rel="canonical" href="{{ .RelPermalink | absURL }}">
{{ end }}
{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}
{{ $title = .Site.Title }}
{{ end }}
<title>{{ $title }}</title>
{{ $summary := trim (.Params.Description | plainify | htmlUnescape) "\n\r"
| default .Title }}
<meta name="description" content="{{ $summary }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon/favicon-16x16.png" | absURL }}">
{{ $style := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint "md5" }}
<link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">

<link rel="alternate" type="application/rss+xml" title="Alexis Janvier — Développeur" href="{{ "index.xml" | absURL }}" />
