<footer class="site-footer">
    <a href="https://twitter.com/alexisjanvier">Twitter</a> &ndash; <a href="https://mamot.fr/@alexisjanvier">Mastodon</a>
    &ndash; <a href="https://github.com/alexisjanvier">Github</a> &ndash; <a
    rel="alternate" type="application/rss+xml" href="/index.xml">RSS</a>
    <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><abbr title="Attribution-NonCommercial-ShareAlike 4.0 International ">CC BY-NC-SA</abbr></a> - alexisjanvier.net 2021</p>
</footer>
