{{ define "jsonld" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Caen",
        "postalCode": "14000",
        "addressCountry": "FR"
      },
      "image": "https://secure.gravatar.com/avatar/4ca5068a7c55a229d9546da2f51e2f53",
      "jobTitle": "Développeur",
      "name": "Alexis Janvier",
      "url": "https://alexisjanvier.net/a-propos"
    }
    </script>
{{ end }}
{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    </header>
    <div class="post-content" itemprop="articleBody">
        {{ .Content }}
    </div>
</article>
{{ end }}
