<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        {{ partial "base-head.html" . }}
        {{ block "prismcss" . }}{{ end }}
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        {{ block "jsonld" . }}{{ end }}
    </head>
    <body>
        <div class="row">
            <div class="skipnav" role="navigation" aria-label="Secondary">
                <a href="#maincontent">Aller directement au contenu</a>
            </div>
            <div class="col-xs-12 col-md-3 no-margin">
                {{ partial "header.html" . }}
                {{ partial "footer-desktop.html" . }}
            </div>
            <div class="col-xs-12 col-md-9 no-margin">
                <main class="page-content" id="maincontent">
                    <div class="wrapper">
                        {{ block "main" . }}{{ end }}
                    </div>
                </main>
                {{ partial "footer-mobile.html" . }}
            </div>
        </div>
        {{ block "prism" . }}{{ end }}
        {{ $script := resources.Get "js/menu.js" | resources.Minify | resources.Fingerprint "sha256" }}
        <script src="{{ $script.Permalink | relURL }}" integrity="{{ $script.Data.Integrity }}"></script>
    </body>
</html>
