{{ define "jsonld" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Caen",
      "postalCode": "14000",
      "addressCountry": "FR"
    },
    "image": "https://secure.gravatar.com/avatar/4ca5068a7c55a229d9546da2f51e2f53",
    "jobTitle": "Consultant et Développeur en systèmes d’information",
    "name": "Alexis Janvier",
    "url": "https://alexisjanvier.net/a-propos",
    "affiliation": {
      "@type": "Organization",
      "name": "CaenCamp",
      "url": "https://caen.camp"
    },
    "worksFor": {
      "@type": "Organization",
      "name": "Incaya",
      "url": "https://www.incaya.fr/"
    }
  }
</script>
{{ end }}
{{ define "main_content"}}
    <main class="page-content" id="maincontent" itemscope=true itemtype="http://schema.org/Person">
{{ end }}
{{ define "main" }}
<div class="post">
    <header class="post-header">
        <h1 class="post-title">Curriculum vitæ</h1>
    </header>
    <div class="post-content">
      {{ partial "json-resume/work.html" . }}
      {{ partial "json-resume/education.html" . }}
      {{ partial "json-resume/volunteer.html" . }}
    </div>
</div>
{{ end }}
