{{ define "jsonld" }}
  <script type="application/ld+json">
    {"description":"Internet is not dead it just smells funny..","url":"https://alexisjanvier.net/","@type":"WebSite","headline":"Internet is not dead it just smells funny.","name":"Alexis Janvier","@context":"https://schema.org"}</script>
{{ end }}
{{ define "main" }}
<div class="home">
  {{$posts := ($.Site.GetPage "section" "blog").Pages.ByPublishDate.Reverse}}
  {{ range first 1 $posts }}
    {{ partial "latest-blog-item.html" . }}
  {{ end }}
  <section class="post-list">
      <h1 class="section-title">Articles récents</h1>
      {{ range $elem_index, $elem_val := first 3 $posts }}
        {{ with $elem_index }}
          {{ partial "blog-item.html" $elem_val }}
        {{ end }}
      {{ end }}
  </section>
  <section class="post-list">
    <h1 class="section-title">Talks récents</h1>
    {{$talks := ($.Site.GetPage "section" "talks").Pages.ByPublishDate.Reverse}}
    {{ range first 2 $talks }}
      {{ partial "talk-item.html" . }}
    {{ end }}
</section>
</div>
{{ end }}
